<%# Search/filter form for querying entities by typed field values.
    Usage: render_typed_eav_search(fields: Contact.typed_eav_definitions, url: contacts_path) %>

<%= form_with url: url, method: :get, data: { turbo_frame: "_top" } do |f| %>
  <fieldset>
    <legend>Filter by Custom Fields</legend>

    <div id="typed-eav-filters">
      <% typed_eav_filter_params.each_with_index do |filter_params, idx| %>
        <% filter_params = filter_params.to_h.with_indifferent_access if filter_params.respond_to?(:to_h) %>
        <% field_name = filter_params[:n] || filter_params[:name] %>
        <% field = fields.find { |af| af.name == field_name } %>
        <% next unless field %>
        <div class="typed-eav-filter" style="display: flex; gap: 0.5rem; margin-bottom: 0.5rem; align-items: end;">
          <div>
            <label>Field</label>
            <select name="f[][n]">
              <option value="">--</option>
              <% fields.each do |af| %>
                <option value="<%= af.name %>" <%= "selected" if af.name == field_name %>>
                  <%= af.name.humanize %>
                </option>
              <% end %>
            </select>
          </div>
          <div>
            <label>Operator</label>
            <select name="f[][op]">
              <% field.class.supported_operators.each do |op| %>
                <option value="<%= op %>"
                  <%= "selected" if op.to_s == (filter_params[:op] || filter_params[:operator]).to_s %>>
                  <%= typed_eav_operator_label(op) %>
                </option>
              <% end %>
            </select>
          </div>
          <div>
            <label>Value</label>
            <input type="text" name="f[][v]"
              value="<%= filter_params[:v] || filter_params[:value] %>" />
          </div>
        </div>
      <% end %>

      <%# Empty filter row for adding new filters %>
      <div class="typed-eav-filter" style="display: flex; gap: 0.5rem; margin-bottom: 0.5rem; align-items: end;">
        <div>
          <label>Field</label>
          <select name="f[][n]">
            <option value="">--</option>
            <% fields.each do |af| %>
              <option value="<%= af.name %>"><%= af.name.humanize %></option>
            <% end %>
          </select>
        </div>
        <div>
          <label>Operator</label>
          <select name="f[][op]">
            <option value="eq">equals</option>
            <option value="not_eq">does not equal</option>
            <option value="gt">greater than</option>
            <option value="lt">less than</option>
            <option value="contains">contains</option>
            <option value="is_null">is empty</option>
            <option value="is_not_null">is not empty</option>
          </select>
        </div>
        <div>
          <label>Value</label>
          <input type="text" name="f[][v]" />
        </div>
      </div>
    </div>

    <div style="margin-top: 0.5rem;">
      <%= f.submit "Search" %>
      <%= link_to "Clear", url %>
    </div>
  </fieldset>
<% end %>
