<%= form_with(model: field, scope: :typed_field,
      url: field.persisted? ? typed_field_path(field) : typed_fields_path) do |f| %>
  <%= render "typed_fields/forms/common_fields", f: f, field: field %>

  <div>
    <%= f.label :min_length %>
    <%= f.number_field :min_length, min: 0, value: field.min_length %>
  </div>

  <div>
    <%= f.label :max_length %>
    <%= f.number_field :max_length, min: 1, value: field.max_length %>
  </div>

  <div>
    <%= f.label :default_value %>
    <%= f.text_area :default_value, value: field.default_value, rows: 3 %>
  </div>

  <div><%= f.submit field.persisted? ? "Update" : "Create" %></div>
<% end %>
