<h1>Edit <%= @field.field_type_name.humanize %> Field: <%= @field.name %></h1>

<%= render_typed_eav_form(field: @field) %>

<% if @field.optionable? %>
  <hr>
  <h2>Options</h2>

  <table>
    <thead>
      <tr><th>Label</th><th>Value</th><th>Order</th><th></th></tr>
    </thead>
    <tbody>
      <% @field.field_options.sorted.each do |option| %>
        <tr>
          <td><%= option.label %></td>
          <td><code><%= option.value %></code></td>
          <td><%= option.sort_order %></td>
          <td>
            <%= button_to "Remove",
              remove_option_typed_eav_field_field_options_path(@field, option_id: option.id),
              method: :delete,
              data: { turbo_confirm: "Remove this option?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= form_with url: add_option_typed_eav_field_field_options_path(@field), method: :post do |f| %>
    <div style="display: flex; gap: 0.5rem; align-items: end; margin-top: 0.5rem;">
      <div>
        <%= f.label :option_label, "Label" %>
        <%= f.text_field :option_label, required: true %>
      </div>
      <div>
        <%= f.label :option_value, "Value" %>
        <%= f.text_field :option_value, required: true %>
      </div>
      <%= f.submit "Add Option" %>
    </div>
  <% end %>
<% end %>

<div style="margin-top: 1rem;">
  <%= link_to "Back", typed_eav_fields_path %>
</div>
